openapi: 3.1.0
info:
  title: BrowserStack Automate REST AccessKey API
  description: 'Best-effort OpenAPI 3.1 description of the BrowserStack Automate REST API for managing

    plans, projects, builds, sessions, browsers, devices, access keys, and media used in

    Selenium-based cross-browser automated testing on BrowserStack.


    Authentication uses HTTP Basic with your BrowserStack username and access key.

    '
  version: '1.0'
  contact:
    name: BrowserStack
    url: https://www.browserstack.com/docs/automate/api-reference/selenium/introduction
  license:
    name: BrowserStack Terms of Service
    url: https://www.browserstack.com/terms
servers:
- url: https://api.browserstack.com
  description: BrowserStack Automate API base URL
security:
- basicAuth: []
tags:
- name: AccessKey
  description: Operations on Automate access keys.
paths:
  /automate/recycle_key.json:
    put:
      tags:
      - AccessKey
      summary: Recycle access key
      description: Generates a new access key, invalidating the old one.
      operationId: recycleAccessKey
      responses:
        '200':
          description: New access key
          content:
            application/json:
              schema:
                type: object
                properties:
                  old_key:
                    type: string
                  new_key:
                    type: string
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic auth using your BrowserStack username as username and your access key as password.
